*.pyc
*.ipynb_checkpoints
__pycache__
.vscode/
experiments/
data/VOC2007/Annotations/colina_1-7.xml
data/VOC2007/Annotations/colina_1-12.xml
data/VOC2007/Annotations/colina_1-7.xml
data/VOC2007/Annotations/colina_1-7.xml
data/VOC2007/Annotations/colina_1-7.xml
